USE [ProjektniMenadzment]
GO
ALTER TABLE [dbo].[Zadaci] DROP CONSTRAINT [FK_Zadaci_Projekat]
GO
ALTER TABLE [dbo].[Zadaci] DROP CONSTRAINT [FK_Zadaci_Korisnici1]
GO
ALTER TABLE [dbo].[Zadaci] DROP CONSTRAINT [FK_Zadaci_Korisnici]
GO
ALTER TABLE [dbo].[Resursi] DROP CONSTRAINT [FK_Resursi_Projekti]
GO
ALTER TABLE [dbo].[Resursi] DROP CONSTRAINT [FK_Resursi_Korisnici]
GO
ALTER TABLE [dbo].[Projekti] DROP CONSTRAINT [FK_Projekti_Zanrovi]
GO
ALTER TABLE [dbo].[KomentariZadatak] DROP CONSTRAINT [FK_KomentariZadatak_Zadaci]
GO
ALTER TABLE [dbo].[KomentariZadatak] DROP CONSTRAINT [FK_KomentariZadatak_Korisnici]
GO
ALTER TABLE [dbo].[ClanoviProjekta] DROP CONSTRAINT [FK_ClanoviProjekta_Projekti]
GO
ALTER TABLE [dbo].[ClanoviProjekta] DROP CONSTRAINT [FK_ClanoviProjekta_Korisnici]
GO
/****** Object:  Table [dbo].[Zanrovi]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zanrovi]') AND type in (N'U'))
DROP TABLE [dbo].[Zanrovi]
GO
/****** Object:  Table [dbo].[Zadaci]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zadaci]') AND type in (N'U'))
DROP TABLE [dbo].[Zadaci]
GO
/****** Object:  Table [dbo].[Resursi]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Resursi]') AND type in (N'U'))
DROP TABLE [dbo].[Resursi]
GO
/****** Object:  Table [dbo].[Projekti]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Projekti]') AND type in (N'U'))
DROP TABLE [dbo].[Projekti]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Korisnici]') AND type in (N'U'))
DROP TABLE [dbo].[Korisnici]
GO
/****** Object:  Table [dbo].[KomentariZadatak]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KomentariZadatak]') AND type in (N'U'))
DROP TABLE [dbo].[KomentariZadatak]
GO
/****** Object:  Table [dbo].[ClanoviProjekta]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClanoviProjekta]') AND type in (N'U'))
DROP TABLE [dbo].[ClanoviProjekta]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/15/2025 11:56:45 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanoviProjekta]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanoviProjekta](
	[ProjekatId] [uniqueidentifier] NOT NULL,
	[KorisnikId] [uniqueidentifier] NOT NULL,
	[Uloga] [nvarchar](50) NULL,
 CONSTRAINT [PK_ClanoviProjekta] PRIMARY KEY CLUSTERED 
(
	[ProjekatId] ASC,
	[KorisnikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KomentariZadatak]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KomentariZadatak](
	[Id] [uniqueidentifier] NOT NULL,
	[Sadrzaj] [nvarchar](150) NOT NULL,
	[ZadatakId] [uniqueidentifier] NOT NULL,
	[KorisnikId] [uniqueidentifier] NOT NULL,
	[DatumKreiranja] [datetime] NOT NULL,
 CONSTRAINT [PK_KomentariZadatak] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[Id] [uniqueidentifier] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[BrojTelefona] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Biografija] [nvarchar](50) NULL,
	[DatumKreiranja] [datetime] NOT NULL,
	[IdentityUserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Korisnici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projekti]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projekti](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](150) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Budzet] [decimal](18, 2) NULL,
	[DatumPocetka] [datetime] NOT NULL,
	[Rok] [date] NULL,
	[KreiraoKorisnikId] [uniqueidentifier] NOT NULL,
	[ZanrId] [uniqueidentifier] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
 CONSTRAINT [PK_Projekti] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resursi]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resursi](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Tip] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](150) NULL,
	[Cena] [decimal](18, 2) NULL,
	[ProjekatId] [uniqueidentifier] NULL,
	[DodeljenKorisniku] [uniqueidentifier] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
 CONSTRAINT [PK_Resursi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zadaci]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zadaci](
	[Id] [uniqueidentifier] NOT NULL,
	[ProjekatId] [uniqueidentifier] NOT NULL,
	[Naslov] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](150) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Prioritet] [nvarchar](50) NOT NULL,
	[KreiraoKorisnikId] [uniqueidentifier] NOT NULL,
	[DodeljenKorisnikuId] [uniqueidentifier] NULL,
	[Rok] [date] NULL,
	[DatumKreiranja] [datetime] NOT NULL,
 CONSTRAINT [PK_Zadaci] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zanrovi]    Script Date: 9/15/2025 11:56:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zanrovi](
	[Id] [uniqueidentifier] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Zanrovi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ClanoviProjekta] ([ProjekatId], [KorisnikId], [Uloga]) VALUES (N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'a75c8586-e4db-4c81-9802-0b96e286367a', N'Dizajner')
INSERT [dbo].[ClanoviProjekta] ([ProjekatId], [KorisnikId], [Uloga]) VALUES (N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', N'Za')
INSERT [dbo].[ClanoviProjekta] ([ProjekatId], [KorisnikId], [Uloga]) VALUES (N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'4a746a9d-b61a-4f7e-93e8-643109424455', N'Tester')
GO
INSERT [dbo].[KomentariZadatak] ([Id], [Sadrzaj], [ZadatakId], [KorisnikId], [DatumKreiranja]) VALUES (N'319d578c-e97e-4311-9287-0a6e1bad2d12', N'Javite se ako vidite komentar', N'55bb20ea-c5fe-47f2-aa15-ede3a3ed6111', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', CAST(N'2025-09-15T21:52:50.817' AS DateTime))
INSERT [dbo].[KomentariZadatak] ([Id], [Sadrzaj], [ZadatakId], [KorisnikId], [DatumKreiranja]) VALUES (N'0e1b2c18-a5bb-4299-b80a-0bf781ad86f4', N'Testiram funkcionalnost komentara', N'47ec7445-ac53-4d49-ad28-f0e0784f346a', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', CAST(N'2025-09-15T20:37:51.340' AS DateTime))
INSERT [dbo].[KomentariZadatak] ([Id], [Sadrzaj], [ZadatakId], [KorisnikId], [DatumKreiranja]) VALUES (N'f937f2a7-7b52-4323-8036-40a2d35a6604', N'Zavrsen zadatak', N'2b2a6e2b-0d97-48e8-8f35-af640db4d299', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', CAST(N'2025-09-15T21:52:20.193' AS DateTime))
GO
INSERT [dbo].[Korisnici] ([Id], [Ime], [Prezime], [BrojTelefona], [Email], [Biografija], [DatumKreiranja], [IdentityUserId]) VALUES (N'a75c8586-e4db-4c81-9802-0b96e286367a', N'Luka', N'Djukic', N'060111111', N'luka@example.com', N'Backend Developer', CAST(N'2025-07-05T19:41:01.647' AS DateTime), N'881ecb32-8773-4199-8627-05dc87d5a810')
INSERT [dbo].[Korisnici] ([Id], [Ime], [Prezime], [BrojTelefona], [Email], [Biografija], [DatumKreiranja], [IdentityUserId]) VALUES (N'e638f345-8020-4db0-b7ef-6335c5dc6e75', N'Luka', N'Djukic', N'0601112223', N'ldjukic00@gmail.com', NULL, CAST(N'2025-09-15T22:29:08.173' AS DateTime), N'0ee1252f-2b91-4b71-9693-868ea24dc249')
INSERT [dbo].[Korisnici] ([Id], [Ime], [Prezime], [BrojTelefona], [Email], [Biografija], [DatumKreiranja], [IdentityUserId]) VALUES (N'4a746a9d-b61a-4f7e-93e8-643109424455', N'Marko', N'Radusinovic', N'062221343', N'batonga@pm.com', N'On je batica', CAST(N'2025-08-10T20:31:12.433' AS DateTime), N'2b2eb6a0-5041-43e4-8f10-98dace3a069a')
GO
INSERT [dbo].[Projekti] ([Id], [Naziv], [Opis], [Status], [Budzet], [DatumPocetka], [Rok], [KreiraoKorisnikId], [ZanrId], [DatumKreiranja]) VALUES (N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'Test projekat', N'Ovo je prvi i pravi test projekat kojim testiram sve funkcionalnosti aplikacije', N'U toku', CAST(10000.00 AS Decimal(18, 2)), CAST(N'2025-09-15T00:00:00.000' AS DateTime), CAST(N'2025-09-29' AS Date), N'a75c8586-e4db-4c81-9802-0b96e286367a', N'7a0e79b7-e3f9-4586-8836-b0d0d9cbbec6', CAST(N'2025-09-15T22:30:52.950' AS DateTime))
GO
INSERT [dbo].[Resursi] ([Id], [Naziv], [Tip], [Opis], [Cena], [ProjekatId], [DodeljenKorisniku], [DatumKreiranja]) VALUES (N'de2b30d0-901b-4fe7-904c-6e5a9ade05bd', N'Drugi test', N'Softverski', N'Dadadadadada', CAST(11111.00 AS Decimal(18, 2)), N'aca8cc53-bdbc-4be6-af24-365d619eb177', NULL, CAST(N'2025-09-15T20:33:50.040' AS DateTime))
INSERT [dbo].[Resursi] ([Id], [Naziv], [Tip], [Opis], [Cena], [ProjekatId], [DodeljenKorisniku], [DatumKreiranja]) VALUES (N'8fe55d73-4945-498c-9c9c-d9f59665c66e', N'Test resurs', N'Test', N'Ovo je testiranje', CAST(10000.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2025-09-15T20:33:33.753' AS DateTime))
GO
INSERT [dbo].[Zadaci] ([Id], [ProjekatId], [Naslov], [Opis], [Status], [Prioritet], [KreiraoKorisnikId], [DodeljenKorisnikuId], [Rok], [DatumKreiranja]) VALUES (N'872fbcd8-14d9-47ab-9728-7d968c035697', N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'Treci zadatak', N'Ovo je treci zadatak', N'Zavrsen', N'Visok', N'a75c8586-e4db-4c81-9802-0b96e286367a', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', CAST(N'2025-09-17' AS Date), CAST(N'2025-09-15T20:32:19.007' AS DateTime))
INSERT [dbo].[Zadaci] ([Id], [ProjekatId], [Naslov], [Opis], [Status], [Prioritet], [KreiraoKorisnikId], [DodeljenKorisnikuId], [Rok], [DatumKreiranja]) VALUES (N'2b2a6e2b-0d97-48e8-8f35-af640db4d299', N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'Cetvrti zadatak', N'Opis zadatka', N'Zavrsen', N'Nizak', N'a75c8586-e4db-4c81-9802-0b96e286367a', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', NULL, CAST(N'2025-09-15T20:36:07.467' AS DateTime))
INSERT [dbo].[Zadaci] ([Id], [ProjekatId], [Naslov], [Opis], [Status], [Prioritet], [KreiraoKorisnikId], [DodeljenKorisnikuId], [Rok], [DatumKreiranja]) VALUES (N'55bb20ea-c5fe-47f2-aa15-ede3a3ed6111', N'aca8cc53-bdbc-4be6-af24-365d619eb177', N'Drugi zadatak', N'Ovo je drugi', N'U toku', N'Srednji', N'a75c8586-e4db-4c81-9802-0b96e286367a', N'e638f345-8020-4db0-b7ef-6335c5dc6e75', CAST(N'2025-09-30' AS Date), CAST(N'2025-09-15T20:31:58.763' AS DateTime))
GO
INSERT [dbo].[Zanrovi] ([Id], [Naziv]) VALUES (N'b7a562c8-0428-4826-ba85-44993bcf94dc', N'Strategija')
INSERT [dbo].[Zanrovi] ([Id], [Naziv]) VALUES (N'7a0e79b7-e3f9-4586-8836-b0d0d9cbbec6', N'Akcija')
INSERT [dbo].[Zanrovi] ([Id], [Naziv]) VALUES (N'7ba4fcd3-25ec-4ffa-a478-d27d3b408e58', N'RPG')
GO
ALTER TABLE [dbo].[ClanoviProjekta]  WITH CHECK ADD  CONSTRAINT [FK_ClanoviProjekta_Korisnici] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisnici] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClanoviProjekta] CHECK CONSTRAINT [FK_ClanoviProjekta_Korisnici]
GO
ALTER TABLE [dbo].[ClanoviProjekta]  WITH CHECK ADD  CONSTRAINT [FK_ClanoviProjekta_Projekti] FOREIGN KEY([ProjekatId])
REFERENCES [dbo].[Projekti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClanoviProjekta] CHECK CONSTRAINT [FK_ClanoviProjekta_Projekti]
GO
ALTER TABLE [dbo].[KomentariZadatak]  WITH CHECK ADD  CONSTRAINT [FK_KomentariZadatak_Korisnici] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[KomentariZadatak] CHECK CONSTRAINT [FK_KomentariZadatak_Korisnici]
GO
ALTER TABLE [dbo].[KomentariZadatak]  WITH CHECK ADD  CONSTRAINT [FK_KomentariZadatak_Zadaci] FOREIGN KEY([ZadatakId])
REFERENCES [dbo].[Zadaci] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KomentariZadatak] CHECK CONSTRAINT [FK_KomentariZadatak_Zadaci]
GO
ALTER TABLE [dbo].[Projekti]  WITH CHECK ADD  CONSTRAINT [FK_Projekti_Zanrovi] FOREIGN KEY([ZanrId])
REFERENCES [dbo].[Zanrovi] ([Id])
GO
ALTER TABLE [dbo].[Projekti] CHECK CONSTRAINT [FK_Projekti_Zanrovi]
GO
ALTER TABLE [dbo].[Resursi]  WITH CHECK ADD  CONSTRAINT [FK_Resursi_Korisnici] FOREIGN KEY([DodeljenKorisniku])
REFERENCES [dbo].[Korisnici] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resursi] CHECK CONSTRAINT [FK_Resursi_Korisnici]
GO
ALTER TABLE [dbo].[Resursi]  WITH CHECK ADD  CONSTRAINT [FK_Resursi_Projekti] FOREIGN KEY([ProjekatId])
REFERENCES [dbo].[Projekti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Resursi] CHECK CONSTRAINT [FK_Resursi_Projekti]
GO
ALTER TABLE [dbo].[Zadaci]  WITH CHECK ADD  CONSTRAINT [FK_Zadaci_Korisnici] FOREIGN KEY([DodeljenKorisnikuId])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[Zadaci] CHECK CONSTRAINT [FK_Zadaci_Korisnici]
GO
ALTER TABLE [dbo].[Zadaci]  WITH CHECK ADD  CONSTRAINT [FK_Zadaci_Korisnici1] FOREIGN KEY([KreiraoKorisnikId])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[Zadaci] CHECK CONSTRAINT [FK_Zadaci_Korisnici1]
GO
ALTER TABLE [dbo].[Zadaci]  WITH CHECK ADD  CONSTRAINT [FK_Zadaci_Projekat] FOREIGN KEY([ProjekatId])
REFERENCES [dbo].[Projekti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zadaci] CHECK CONSTRAINT [FK_Zadaci_Projekat]
GO
