<aside class="sidebar">

  <div class="sidebar-top">

    <div class="sidebar-logo">
      <a routerLink="/dashboard">PM Sistem</a>
    </div>

    @if (korisnik) {
      <div class="sidebar-user">
        Zdravo, <strong>{{ korisnik.korisnickoIme }}</strong>
      </div>
    }

    <nav class="sidebar-nav">

      <a routerLink="/dashboard"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
      </a>

      <a routerLink="/moji-projekti" routerLinkActive="active">
        Moji projekti
      </a>

      <a routerLink="/zadaci" routerLinkActive="active">
        Zadaci
      </a>

      <a routerLink="/resursi" routerLinkActive="active">
        Resursi
      </a>

      <a routerLink="/profil" routerLinkActive="active">
        Profil
      </a>

    </nav>

  </div>


  <div class="sidebar-bottom">
    <button class="logout-btn" (click)="odjava()">
      Odjava
    </button>
  </div>

</aside>